{% render 'partials/head.liquid' %}

{% render 'partials/head.liquid' %}

<main>
	<section class="kaartje">
    	<h1>{{ person.name }}</h1>
    	<img class="img-profile" src="assets/profile-picture.png" alt="Profile picture">
		<p>Ik ben Viresh bekijk mijn vooruitgang door mijn projecten in de websites hieronder</p>
		<ul class="ul-buttons">
			<li><button>Visitekaartje sprint 1</button></li>
			<li><button>Mediahuis</button></li>
			<li><button>Accessdash</button></li>
			<li><button>I Love Web</button></li>
		</ul>
	</section>
	<section class="visitekaartje slide-info">

	</section>
</main>

{% render 'partials/foot.liquid' %}


{% render 'partials/foot.liquid' %}
