/* RESET */
* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	object-fit: cover;

	font-family: 'Courier New', Courier, monospace;
	font-weight: 600;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100dvh;

	input {
		position: absolute;
		left: 5em;
		top: 1em;
		
		&[value="1"] {
			margin-left: 1em;
		}

		&[value="2"] {
			margin-left: 2em;
		}

		&[value="3"] {
			margin-left: 3em;
		}

		&[value="4"] {
			margin-left: 4em;
		}
	}

	/* visitekaartje button */
	&:has([value="1"]:checked) {
		.slide-info {
			transform: translate(0, 3.5em);
			transition: 1s ease-in-out;
		}

		.kaartje {
			transform: translate(0, -3.5em);
			transition: 1s ease-in-out;
		}

		.visite-info {
			display: block;
		}
	}

	/* mediahuis button */
	&:has([value="2"]:checked) {
		.slide-info {
			transform: translate(-7em, 0);
			transition: 1s ease-in-out;
		}
		
		.kaartje {
			transform: translate(7em, 0);
			transition: 1s ease-in-out;
		}

		.visite-Mediahuis {
			display: block;
		}
	}

	/* accessdash button */
	&:has([value="3"]:checked) {
		.slide-info {
			transform: translate(7em, 0);
			transition: 1s ease-in-out;
		}

		.kaartje {
			transform: translate(-7em, 0);
			transition: 1s ease-in-out;
		}

		.visite-Accessdash {
			display: block;
		}
	}

	/* ilw button */
	&:has([value="4"]:checked) {
		.slide-info {
			transform: translate(0, -3em);
			transition: 1s ease-in-out;
		}
		
		.kaartje {
			transform: translate(0, 3em);
			transition: 1s ease-in-out;
		}

		.visite-ilw {
			display: block;
		}
	}
}


.kaartje {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: min-content min-content min-content;
	grid-template-areas:
	    "img name"
		"text text"
		"links links"
	;
	grid-gap: 0.5em;
	background-color: lightgray;
	height: 23em;
	width: clamp(30ch, 60%, 55ch);
	border-radius: 10px;
	box-shadow: 5px 5px 9px gray;
	z-index: 100;
	transition: 1s ease-in-out;

	h1 {
		grid-area: name;
		align-self: center;
	}

	.img-profile {
		grid-area: img;
		width: 7em;
        height: 7em;
		border-radius: 50%;
		padding: 1em 1em;
	}

	p {
		grid-area: text;
        margin-bottom: 0.5em;
		padding: 0 clamp(1rem, 5vw, 2rem);
	}

	.ul-buttons {
		grid-area: links;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		li{
			list-style-type: none;
			list-style: none;
			margin: 0.5em 0;

			label {
				&:hover {
					color: brown;
					transform: scale(1.2);
					transform-origin: bottom left;
					transition: ease-in-out;
				}
			}
		}
	}
}


.slide-info {
	display: grid;
	grid-template-areas:
	    ". top ."
		"left . right"
		". bot ."
		;
	background-color: lightgray;
	position: fixed;
	height: 23em;
	width: clamp(30ch, 60%, 55ch);
	border-radius: 10px;
	z-index: 10;
	transition: 1s ease-in-out;

	.visite-info {
		grid-area: bot;
		align-self: end;
		margin-left: 3em;
		margin-right: 3em;
		margin-bottom: 1em;
		display: none;
	}

	.visite-Mediahuis {
		grid-area: left;
		margin-left: 0.5em;
		width: 13em;
		display: none;
	}

	.visite-Accessdash {
		grid-area: right;
		justify-self: end;
		margin-right: 0.5em;
		width: 13em;
		display: none;
	}

	.visite-ilw {
		grid-area: top;
		margin-top: 1em;
		margin-left: 3em;
		margin-right: 3em;
		display: none;
	}
}


@keyframes slide-info-down {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(0, 8em);
	}
}

@keyframes slide-info-left {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-8em, 0);
	}
}

@keyframes slide-info-right {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(8em, 0);
	}
}

@keyframes slide-info-up {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(0, -8em);
	}
}