/* RESET */
* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	object-fit: cover;

	font-family: 'Courier New', Courier, monospace;
	font-weight: 600;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100dvh;
}

.kaartje {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: min-content min-content min-content;
	grid-template-areas:
	    "img name"
		"text text"
		"links links"
	;
	grid-gap: 0.5em;
	background-color: lightgray;
	height: 23em;
	width: clamp(30ch, 60%, 55ch);
	border-radius: 10px;
	box-shadow: 5px 5px 9px gray;
	z-index: 100;
	transition: 1s ease-in-out;

	h1 {
		grid-area: name;
		align-self: center;
	}

	.img-profile {
		grid-area: img;
		width: 7em;
        height: 7em;
		border-radius: 50%;
		padding: 1em 1em;
	}

	p {
		grid-area: text;
        margin-bottom: 0.5em;
		padding: 0 clamp(1rem, 5vw, 2rem);

	}

	.ul-buttons {
		grid-area: links;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		li{
			list-style-type: none;
			list-style: none;
			margin: 0.5em 0;

			button {
				background-color: inherit;
				border: none;

				&:hover {
					color: brown;
					transform: scale(1.2);
					transform-origin: bottom left;
					transition: ease-in-out;
				}
			}
		}
	}

	&.active-visite {
		transition: 1s ease-in-out;
		transform: translate(0, 5em);
	}

	&.active-Mediahuis {
		transition: 1s ease-in-out;
		transform: translate(-5em, 0);
	}

	&.active-Accessdash {
		transition: 1s ease-in-out;
		transform: translate(5em, 0);
	}

	&.active-ILW {
		transition: 1s ease-in-out;
		transform: translate(0, -5em);
	}
}


.slide-info {
	background-color: lightgray;
	position: fixed;
	height: 23em;
	width: clamp(30ch, 60%, 55ch);
	border-radius: 10px;
	z-index: 10;
	transition: 1s ease-in-out;


	&.active-visite {
		transition: 1s ease-in-out;
		transform: translate(0, -5em);
	}

	&.active-Mediahuis {
		transition: 1s ease-in-out;
		transform: translate(5em, 0);
	}

	&.active-Accessdash {
		transition: 1s ease-in-out;
		transform: translate(-5em, 0);
	}

	&.active-ILW {
		transition: 1s ease-in-out;
		transform: translate(0, 5em);
	}
}
